/* Created a div for background which is a container for everything. Choose how wide I want the content area to be. Then centered it using margin:auto. This prevented me from inserting a margin-left for every single element on the page */
.background {
    width: 800px;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 40px;  
    margin-bottom: 40px;
}

.subhead {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 70px 0px 30px;
    text-align: center;
}

h4 {
    font-family: sans-serif;
    font-weight: 900; 
    font-size: 25px;
    margin: 20px 0px 30px; 
    padding: 20px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px 0px 30px;
}

/* An image is an inline element. We have to change the display to block then use margin:auto to center the image in the page. Following this, I want the image tot ake up the same size/width as the content area whilst maintaining its proportions hence setting the width to 800 and the height to auto*/
img {
    display: block;
    margin: auto;
    width: 800px;
    height: auto
}

ul,
ol {
    margin-top: -20px;
    font-size: 20px;
}

li {
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px 0px 10px;
}

/* Wanted to essentially create a "recipe card" which contains the ingredients and instructions and wanted it to be separate from the rest of content hence it's in a box*/
.box {
    border: 2px solid black;
    margin-top: 60px;
    padding-right: 10px;
}








